/* Navbar Styling */
.navbar {
  padding: 0px;
  background-color: rgb(0, 0, 0, .9);
}

.navbar-brand>img {
  height: 80%;
  padding: 7px 15px;
  width: auto;
}

.nav-item > a {
  color: #fff;
}
/* Navbar End */

html {
  background-color: #000;
}

body {
  padding-top: 85px;
}

.sanguiccio-outside {
  width: 100%;
  height: auto;
  z-index: 0;
}

.menu-container {
  padding: 30px 75px;
}

.menu-description {
  font-style: italic;
}

.menu-title {
  font-size: 20px;
}

.menu-item {
  padding: 10px 20px;
}

.sub-items {
  margin-bottom: 0;
}

.divider {
  border-top: 3px solid rgba(0,0,0,.1);
  width: 50%;
}

.sub-menu {
  padding-top: 30px;
}

section.middle-img {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.middle-section {
  height: 200px;
}