/* Navbar Styling */
.navbar {
  padding: 0px;
  background-color: rgb(0, 0, 0, .9);
}

.navbar-brand>img {
  height: 80%;
  padding: 7px 15px;
  width: auto;
}

.nav-item > a {
  color: #fff;
}
/* Navbar End */

html {
  background-color: #000;
}

body {
  padding-top: 85px;
}

.sanguiccio-outside {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header {
  display: flex;
  align-items: center;
}

.header-text {
  padding: 0 150px;
}

.header-title {
  color: #fff;
}

.header-description {
  color: #fff;
  margin-bottom: 0;
}

.header-twitter {
  padding: 50px 0;
}

.twitter-timeline {
  height: 300px !important;
}

.share {
  padding: 10px 0;
}

.share-icons {
  height: 40px;
}

.std-icon {
  height: 50px;
}

.menu-container {
  padding: 30px 75px;
}

.menu-description {
  font-style: italic;
}

.menu-title {
  font-size: 20px;
}

.menu-item {
  padding: 10px 20px;
}

.sub-items {
  margin-bottom: 0;
}

.divider {
  border-top: 3px solid rgba(0,0,0,.1);
  width: 50%;
}

.sub-menu {
  padding-top: 30px;
}

section.middle-img {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.middle-section {
  height: 300px;
}

.hours-container {
  padding: 50px 200px;
  text-align: center;
}

.hours-title {
  text-align: center;
}

table {
  margin: 0 auto;
}

.day {
  font-weight: bold;
}

.sanguiccio-location {
  width: 100%;
}

footer {
  background-color: rgb(0, 0, 0);
}

.footer-icons {
  padding: 20px 0;
}

.footer-share {
  height: 30px;
}

.footer-text {
  color: #fff;
}